.nav-ul{
  margin: 0;
  margin-left: 0;
  background-color: teal;
  padding: 9px;
}
.nav-ul li{
  display: inline-block;
  padding: 15px;
  
}

.nav-ul li a{
  color: #fff;
  text-decoration: none;
  font-size: large;
}

.footer{
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: teal;
}

.signBox, .product{
  margin-left: 40%;
}

.signBox h1{
  margin-left: 100px;
  margin-top: 100px;
}
.inputBox{
  display: block;
  margin: 10px;
  padding: 10px;
  width: 300px;
  border: 2px solid blueviolet;
}

.app-btn{
  margin-left: 110px;
  margin-top: 10px;
  padding: 10px;
  width: 130px;
  cursor: pointer;
  color: white;
  background-color: rgb(69, 67, 139);
  border-style: none;
}

.login{
  margin-left: 40%;
  margin-top: 100px;
}

.login h1{
  margin-left: 120px;
}

.nav-right{
  text-align: right;
}

.logo{
  width: 65px;
  float: left;
  margin-top: 10px;
  margin-left: 15px;
}

.invalid-input{
  color: red;
  margin-top: -10px;
  display: block;
  margin-left: 20px;
}

.product-list{
  text-align: center;
  margin-top: 50px;
}

.product-list ul li{
  display: inline-block;
  border: 1px solid skyblue;
  padding: 5px;
  width: 150px;
  height: 30px;
}

.product-list ul{
  margin: 0;
}

.searchbar{
  width: 200px;
  margin-bottom: 15px;
  height: 25px;
  padding-left: 100px;
  border: 2px solid green;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.heading{
  display: inline;
  position: relative;
  right: 400px;
  color: aliceblue;
}

body{
  background-image: url("https://png.pngtree.com/background/20210709/original/pngtree-blue-smart-light-tech-background-picture-image_939986.jpg");
}

.dowhite{
  color: aliceblue;
}

.unorder-list{
  color: #fff;
}

